:root {
  /* Cores */
  --Amarelo: #ffcb47;
  --Amarelo-transparente: #ffcb473d;
  --Branco: #fff;
  --cinza: #909090;
  --Preto: #202020;
  --Sombra: #0000000f;

  /* fontes */
  --familia-corpo: "montserrat", sans-serif;
  --familia-titulo-destaque: 'Elsie Swash Caps', serfif;

  /* Pesos */
  --peso-titulo-destaque: 900;
  --peso-botao:700;
  --peso-destaque:700;

  /* Tamanhos */
  --tamanho-corpo: 1rem;
  --tamanho-titulo:1.375rem;
  --tamanho-titulo-destaque:2rem;
  --tamanho-destaque:1.375rem;
}
